# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# ROS2 build/install/log
build/
install/
log/


# VSCode
.vscode/

# Backup
OLD_BACKUP/

# Camera calibration artifacts
*.npz

# ArUco frame outputs
aruco_frames/
scratch/
